nextflow.enable.dsl=2

params {
    input  = "${projectDir}/assets/test-data/samplesheet.csv"
    outdir = "${projectDir}/results"
}

process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    scratch = true
    cache = 'lenient'
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'terminate' }
    maxRetries = 2
    cpus = 1
    memory = '1 GB'
    time = '1h'

    withLabel: 'benchmark_assembly' {
        cpus = 1
        memory = '1 GB'
        time = '4h'
    }

    withLabel: 'benchmark_report' {
        cpus = 1
        memory = '1 GB'
        time = '30m'
    }
}

profiles {
    test {
        process.executor = 'local'
        process.cpus = 1
        process.memory = '1 GB'
        process.time = '30m'
    }

    docker {
        docker.enabled = true
        docker.runOptions = '--init'
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }

    slurm {
        process.executor = 'slurm'
        executor {
            queueSize = 50
            submitRateLimit = '10/1min'
        }
    }
}

report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/provenance/nextflow-report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/provenance/timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/provenance/execution_trace.txt"
}
